@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');

@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');

:root { 
    --fonte1:Verdana, Geneva, Tahoma,  sans-serif;
    --fonte2:'Allan', cursive;
    --fonte3: 'Bebas Neue', sans-serif; 
    --fonte4:
}

*{
    margin: 0px;
    padding:0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}
    
 header{
    background-color: black;
    text-align: center;
    color: white;
}

 header > h1{
    padding-bottom: 5px;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 6vw;
    font-weight:bolder;
    
}
header > p{
     padding-bottom: 50px;
}
  
header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section > p{

    padding-bottom: 2.5em;
}

section{
    
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
    font-family: var(--fonte2);
    font-size: 4vw;
    
}
section.branco{
    background-color: white;
   
}


 section.imagem > p{
    background-color: rgba(0, 0, 0, 0.26);
    display: inline-block;
    color: white;
    padding: 10px;
   
 }

section#img01{
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    
}

section#img02{
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color:white
}
